// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-blue: #2277B8;
$light-blue: #B5DFF5;
$grey-blue: #88A6C0;
$grey: #6C8599;
$dark-gblue: #57758D;
$white: white;
