// Specific CSS for your home-page
body {
  background-color: rgb(253, 253, 253);
}

.container {

  background-color: white;
  position: absolute;
  margin-left: -1%;
  margin-top: 0%;
  top: 0;
}
.main-page-pic {
  position: relative;
  height: 980px;
  width: 100vw;
  object-fit: cover;
}

.text-main-page-banner {
  position: absolute;
  top: 27%;
  left: 18%;
}

.logo-text {

font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 50px auto;
line-height: 59px;
/* identical to box height */

letter-spacing: -0.02em;

color: #193E9B;
}

.brand-tagline {

font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 45px;
/* identical to box height */

letter-spacing: -0.02em;

color: #706f6f;
}

.brand-tagline strong {
  color: #193E9B;
}

.main-attract-customer-txt {
font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
letter-spacing: -0.02em;
margin-top: 0px;
padding-top: 10px;

color: #7F838E;
}

.main-button {
  width: 233px;
  height: 57px;
  left: 80px;
  top: 76px;
  color: #ffffff;
  background-color: #193E9B;
  border-radius: 6px;
  font-size: 24px;
  margin-left: -1%;
}
.main-button:hover {
      background-color: #6682c9;
      border: white;
  }

.text-for-existing-account {
  margin-top: 10px;
  width: 217px;
  height: 16px;
  left: calc(50% - 217px/2 - 529.5px);
  top: calc(50% - 16px/2 - 383px);

  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #7F838E;
}

.text-for-existing-account strong {
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
  color: #193E9B;
}

.arrow-down-scroll {
  position: absolute;
  margin-top: 60%;
  margin-left: 40vw;
  height: 40px;
  width: 40px;
  opacity: 50%;
}

.text-down-scroll {
  text-align: center;
  position: absolute;
  font-size: 17px;
  margin-top: 50%;
  margin-left: 40vw;
  opacity: 50%;
}

.space-txt-main-page {
    box-shadow: 0px 2px 6px 4px rgba(128, 128, 128, 0.309);
    position: absolute;
    padding-top: 2px;
    padding-bottom: 7px;
    margin-left: 42vw;
    margin-top: 3%;
    text-align: center;
    background-color: #193E9B;
    color: white;
}
