<div class = 'container container-md in-line'>
  <%= image_tag "main-pic.jpeg", alt: "Home", class: "main-page-pic" %>
      <div class='text-main-page-banner'>
        <h2 class='logo-text'> X-Space</h2>
        <p class='brand-tagline'>We always have e<strong>X</strong>tra Space for you</p>
        <p class='main-attract-customer-txt'>sign up and send your package</p>
        <%=  link_to "Sign up", new_user_registration_path %>
        <p class='text-for-existing-account'>Already have an account | <strong> <%= link_to "Log in", new_user_session_path %> </strong></p>
      </div>
</div>
