<div class = 'main-banner'>
<%= image_tag "/app/assets/images/39da40ec8e36b3c39bb0d6adf5386e4f.jpeg", alt: "Home" %>
<h2> X-Space</h2>
<p class='brand-tagline'>We always have e<strong>X</strong>tra Space for you</p>
<p class='main-attract-customer-txt'>sign up and send your package</p>

<p></p>
</div>
