.dashboard-body {
  margin-left: 20px;
  h1 {
    color: $dark-blue;
    font-weight: bolder;
  }
}
.card{
  position: relative;
  width: 60%;
  height: 180px;
  background: linear-gradient(-45deg, $dark-blue, $grey-blue);
  border-radius: 15px;
  margin: 10px 0;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}

.card::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, .1);
z-index: 1;
-webkit-transform: skewY(-5deg) scale(1.5);
        transform: skewY(-5deg) scale(1.5);
}

.option ul {
  margin: 0;
  padding: 0;

}

.card-title {
  margin-top: 20px;
  font-size: larger;
}

.price, .option ul li {
margin: 0 10px 10px;
padding: 0;
list-style: none;
color: #fff;
font-size: 16px;
display: inline-block;
}
.card .anchor {
  position: absolute;
  z-index: 2;
  background: #fff;
  color : black;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  bottom: 40px;
  right: 10px;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}
.card .anchor:hover{
    text-decoration: none;
}

// #pills-home-tab, #pills-profile-tab {
//   background-color: $grey-blue;
// }

#space_photos {
  margin-left: 30px;
}
