$dark-blue: #2277B8;
$light-blue: #B5DFF5;
$grey-blue: #88A6C0;
$grey: #6C8599;
$dark-gblue: #57758D;
$white: white;

.available-spaces-header {
  padding: 10px;
  margin: 10px 10px 30px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 0px 0px 10px 2px rgba(83, 82, 82, 0.678);
  color: $dark-blue;
}

.card-image {
  width: 100%;
  height: 250px;
  opacity: 0.8;
  margin-right: 0px;
  border-radius: 5%;
  border: 1px solid #438d9786;
  padding: 3px;
  box-shadow: 2px 3px #a0e3ec86;
}

span {
  color: $dark-gblue ;
}

.card-wrapper {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: start;
  align-items: flex-start;
  grid-gap: 4rem;
  margin-top: 35px;
  margin-left: 15px;
}
.card-info {
  padding: 2rem;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.card-space {
  padding: 2rem 0 0 0;
  margin: 0 auto;
  width: 24rem;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgb(124, 133, 150);
     li {
      list-style: none;
    }
  &:hover {
      transform: scale(1.08);
      box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
    }
}

.title {
  // background-color: rgb(6, 92, 173);
  text-align: center;
  color: $light-blue;
  font-weight: bolder;
  font-size: 20px;
  position: relative;
  margin: -40px 0 20px 0;
  padding: 0 0 5px 0;
  // border-bottom: 1px dashed rgb(168, 167, 167);
}

.card-text {
  color:rgb(61, 61, 61);
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.btn-wide {
  display: block;
  list-style: none;
  background: $grey-blue;
  background-size: cover;
  color: $white;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 10px;
  transition: 250ms;
  &:hover {
    background: $light-blue;
    transition: 250ms;
    text-decoration: none;
    color: $white;
    }
}

.dimension {
  display: flex;
  font-size: 15px;
  justify-content: space-between;
}

.card-btn {
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 5px;
  transition: 250ms;
  font-size: 2rem;
  &:hover {
    background: $light-blue;
    transition: 250ms;
    text-decoration: none;
    color: $white;
    }
}
.card-tools {
  position: relative;
  top: 2px;
  left: 320px;
  padding: 0;
  &:hover a {
    transition: 250ms;
    text-decoration: none;
    }
}
.btn-confirm {
  color: white;
  border-radius: 10px;
  margin-left: 10px;
  padding: 8px 15px;
  width: 300px;
    &:hover {
      background-color: #cde6f3;
      color: $dark-gblue;
      text-decoration: none;
    }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  .btn-decline {
    background-color: #F24464;
  }
  .btn-approve {
    background-color: #37A6A6;
  }
}
