  .form-intro {
  box-shadow: 0px 3px 4px 1px rgba(109, 109, 109, 0.6);
  margin-top: -12px;
  padding-top: 18px;
  padding-bottom: 17px;
  margin-left: -20px;
  background-color: #193E9B;
  width: 780px;
  color: white;
  font-size: 35px;
  text-align: center;
  border-top-right-radius: 2px;
  // text-align: center;
}
.inputs{
  margin-top: 20px;
  padding-top: 5px;
  padding-left: 0px;
  text-align: left;
  list-style: none;
  color: rgb(56, 56, 56);
  font-size: 23px;

}

.form-background {
  box-shadow: 2px 2px 7px 2px rgba(109, 109, 109, 0.2);
  background-color: white;
  width: 800px;
  height: auto;
  margin-left: 19.2%;
  margin-top: 50px;
  padding-top: 30px;

}
.dimension-form {
  margin-left: 20px;
  .inputs-col {
    color: #7582a1;
    list-style: none;
    font-size: 23px;
  }
}

.btn {
  margin-top: 2%;
  border-radius: 7px;
  margin-left: 5%;
  margin-bottom: 3.5%;
  padding-right: 12px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
  background-color: #193E9B;
}

.form-group {
  margin-left: 20px;
  margin-top: 10px;
}
