.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;

}

.nav-link {
  border: solid 2px #B5DFF5;
  border-radius: 8px;
  margin-left: 6px;
  background-color: #B5DFF5;
}
