.navbar-xspace {
  justify-content: space-between;
  background: transparent;
  z-index: 10;
}

.navbar-xspace .navbar-collapse {
  flex-grow: 0;
}

.navbar-xspace .navbar-brand img {
  width: 100px;

}

.nav-link {
  color: white;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #cde6f3;
}

.nav-link:hover {
  background-color: #bad1dd;
}
